{% extends 'user.html' %}

{% block head %}
<title>My page</title>
{% endblock %}

{% block under_photo %}
<form>
    <input type="submit" value="Change Photo" class="btn btn-primary">
</form>
{% endblock %}

{% block description %}
<div class="row">
    <div class="col-md-8">
        <h5>{{user.description}}</h5>
    </div>
    <div class="col-md-4">
        <form action="/my_page/change_desc">
            <input type="submit" value="Change description" class="btn btn-outline-primary btn-sm">
        </form>
    </div>
</div>
{% endblock %}